.titleHelp{
    font-weight: bold;
    font-size: 2em;
    padding: 0em 1em;
}
.subtitleHelp{
    font-weight: bold;
    font-size: 1em;
    padding: 0.5em 0em 0em 0em;
    margin:0;
}
.tab{
    display: flex;
    background-color: white;
    border-bottom: 1px solid lightgrey;
    padding: 1em;
}

.tab p{
    width: 33%;
    margin: 0;
    text-align: center;
}