.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0!important;
}

.dropdown-menu{
  z-index: 1005;
}

#version{
  margin: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
  background-color: black;
  display: flex;
  justify-content: center;
  width: 100%;
  float: left;
  /* width:1368px;*/
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding: 1em;
  color: #777;
  border-top: 1px solid #e5e5e5;
  display: block;
}

.container-narrow>hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p+h4 {
  margin-top: 28px;
}

.column{
  display: flex;
}

#footerLogo h4{
  text-align: center;
}
#footerLogo{
  width: 100%;
  text-align: center;
}
#portals,#about{
  width: 30%;
}
#footerLogo img{
  height: 50px;
}
hr{
  flex-basis: 100%;
  height: 0;
  width: 0;
  border: none;
}

.popuptext{
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  margin-left: -120px;
}

.popup_hover:hover span{
  visibility: visible;
}

#cookie_directive_container .container{
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: center;
  padding: 3% 0% 1% 0%;
  background-color: #000;
  color: white;
}

/* Toggle this class - hide and show the popup */
.show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    /*max-width: 730px;*/
    display: flex;

  }

  /* Remove the padding we set earlier */
  .header,
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


.container {
  width: 100%;
}

.ng-scope {
  width: 100%;
}

.menu {
  width: 150px;
  height: 200px;
  margin-top: 80px;

}

#menu-view-container {
  width: 1113px;
  display: flex;
  margin-left: 80px;
}

.nav-pills>li>a {
  color: white;
  font-size: 1em;
}

.nav-pills {
  margin-right: 1em;
}

.nav-pills>li>a:hover,
.nav-pills>li>a:focus,
.nav-pills>li>a:active,
.nav-pills>li>a:visited {
  background: #337ab7;
}

#helpid>a:hover,
#helpid>a:focus,
#helpid>a:active,
#helpid>a:visited {
  background: #337ab7;
}

.productsid {
  border: 1px white solid;
  border-radius: 5px;
}

#bandeau {
  display: flex;
  flex-wrap: nowrap;
  background: #337ab7;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
}


@media (max-width: 768px) {
  .nav-pills>li>a {
    font-size: 10px;
  }

  .nav-pills {
    margin-right: 0px;
  }
  
  body{
    overflow-x: hidden;
  }

  #bandeau {
    height: 1.5em;
  }

  #titlelogo {
    height: 1.5em;
  }
}