/*#metamapid 
{ 
	height: 300px; 
	width:100%;
	border:1px black solid;
}*/
#metamapid2 {
	height: 300px;
	width: 100%;
	border: 1px black solid;
}

#timeseries {
	background-color: white;
	height: 300px;
	width: 350px;
	border: 1px black solid;
}

#pictures {
	background-color: white;
	height: 300px;
	width: 350px;
	border: 1px black solid;
}

#metamap_timeseries_container {
	display: flex;
	flex-wrap: nowrap;
}

#temporalcontainer {
	height: 300px;
	width: 100%;
	border: 1px black solid;
	overflow-x: hidden;
	overflow-y: hidden;
}

#temporalplaceholder {
	height: 160px;
	width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}

.metatitle {
	width: auto;
	height: 30px;
	background-color: #337ab7;
	color: white;
	text-align: center;
	padding-left: 2px;
	border: 1px black solid;
}

#dropdownconteneur2 {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

.row.content {
	margin: auto;
}

.panel-primary {
	height: auto;
	margin-top: 20px;
	border: 1px black solid;
}

.panel-body2 {
	background-color: #E0E6F8;
	height: auto;
}

.panel-heading {
	background-color: #337ab7;
}

.left-space20 {
	margin-left: 20px;
	color: #375E97;
}

.left-space60 {
	margin-left: 60px;
	color: #375E97;
}

.left-space120 {
	margin-left: 120px;
	color: #375E97;
}

.left-space160 {
	margin-left: 160px;
	color: #375E97;
}

.left-space300 {
	margin-left: 300px;
	color: #375E97;
}

.left-space360 {
	margin-left: 360px;
	color: #375E97;
}

.name {
	color: #375E97;
}


.tabheader,
.tabcol {
	text-align: left;
	padding: 8px;
}

.tabrow:nth-child(even) {
	background-color: #f2f2f2
}

.tabheader {
	background-color: #4CAF50;
	color: white;
}

p {
	margin-left: 5px;
}


#clickableIcon {
	cursor: pointer;
	color: #375E97;
}

#navmenu ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

#navmenu span,
#navmenu a {
	display: block;
	font-size: 16px;
	text-decoration: none;
}

#navmenu>ul>li:first-child {
	margin-top: 0px;
}

#navmenu li {
	background: #337ab7;
	margin-top: 5px;
}

#navmenu li:hover,
#navmenu li.active {
	background: black;
}

#navmenu a {
	color: white;
	line-height: 160%;
	padding: 16px 8px 16px 28px;
}



.pictures {
	background-color: white;
	height: 100px;
	width: auto;
	padding-left: 2px;
	border: 2px black solid;
}

.placeholder {
	background-color: white;
	height: auto;
	min-height: 610px;
	width: auto;
	padding-left: 2px;
	border: 1px black solid;
	overflow-y: auto;
	overflow-x: auto;
}

.divborder0 {
	border: 0;
	width: 50%;
}

.titreprincipale2 {
	text-decoration: underline;
	font-size: 115%;
	color: #061283;
	width: 100%;
	height: 30px;
	border: 0;
	margin-left: 3px;
}

.titreprincipale3 {
	text-decoration: underline;
	font-size: 100%;
	color: #061283;
}

.mail {
	color: #0000FF;
}

.www {
	color: #0000FF;
}

.nav.nav-tabs {
	display: flex;
}

#metadatasummary {
	border-collapse: collapse;
	width: 100%;
}

#metadatasummary th,
#metadatasummary td {
	text-align: left;
	padding: 8px;
}

#metadatasummary tr:nth-child(even) {
	background-color: #f2f2f2
}

#metadatasummary th {
	background-color: #344D90;
	color: white;
}

.highcharts-plot-band,
.highcharts-pane {
	fill: #2CDBF6;
}

#nextprevious {
	margin-left: 50%;
}

.modal {
	text-align: center;
	padding: 0 !important;
}

.modal:before {
	content: '';
	display: inline-block;
	height: 80%;
	vertical-align: middle;
	margin-right: -4px;
}

.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}

@media (max-width: 768px) {
	#metamap_timeseries_container {
		display: flex;
		flex-wrap: wrap;
	}

	#timeseries {
		background-color: white;
		height: 300px;
		width: 100%;
		border: 1px black solid;
		margin-top: 20px;
	}

	#pictures {
		background-color: white;
		height: 300px;
		width: 100%;
		border: 1px black solid;
		margin-bottom: 20px;
	}
}

#cal-heatmap .q0+title+.subdomain-text {
	color: red;
}

.cal-heatmap-container .subdomain-text {
	font-size: 15px;
	font-weight: 700;
	fill: white;
	pointer-events: none;
}