#container {
    width: 100%;
    min-height: 100vh;
}

.plotsResults {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.plotsResults--title {
    display: block;
    width: 100%;
    text-align: center;
}

.plot {
    width: 45%;
    margin: 0.8em;

}

@media screen and (max-width: 768px) {
.plot {
    width: 80%;
}

}

.plot--img {
    display: block;
    width: 100%;
}
.plot--title {
    display: block;
    width: 100%;
    text-align: center;
}