#latlon {
  height: 434px;
  min-width: 250px;
  background-color: #AECADA;
  border: solid 1px black;
  border-right: 0;
}

#mapid {
  height: 434px;
  width: 100%;
  border: solid 1px black;
}

.advancedcontainer {
  height: 434px;
  width: auto;
  border: solid 1px black;
  border-left: 0;
}


#fieldconteneur {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2px;
}

#mapconteneur {
  display: flex;
  flex-wrap: nowrap;
}

#fieldconteneur {
  width: 360px;
}


#buttonconteneur {
  display: flex;
  justify-content: flex-end;
}

#dropdownconteneur {
  display: flex;
  justify-content: flex-end;
}

.advancedcontainer p {
  margin: 0;
}

.flex-item:first-child {
  margin-right: auto;
  display: flex;
  flex-direction: row;
}

#latlonconteneur {
  display: flex;
  justify-content: space-around;
}

.header-filtered {
  color: blue;
}

.spinner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0px 0px -50px;
}


.form-control {
  height: 10px;
  padding: 11px;
}

.input-group .btn {
  padding: 1px 2px;
}

.panel-body {
  background-color: #E0E6F8;
  height: 310px;
  overflow-y: auto;
  overflow-x: auto;
}

.my-custom-control {
  padding-right: 35px;
}

.my-custom-control .dropdown-menu {
  overflow-y: auto;
  overflow-x: auto;
  left: -37.5em;
  height: 25em;
  min-width: 660px;
}

.dropdown-column{
  float: left;
  padding: 5px;
}
.dropdown-column li{
  padding: 0.3em 1em;
}

.circle,
#linkid {
  display: inline;
}

/****handle a display of ui grid**********/


.white {
  color: transparent !important;

}

.red {
  /*background-color: #FF6F7D !important;*/

}

.grid {
  height: 600px;
  width: 100%;
  border: 1px solid black;
}

.colorheader {
  text-align: center;
}

.ui-grid-top-panel {
  background: #337ab7;
  /*#286090;*/
  color: white;
}

.ui-grid-filter-input {
  color: black;
}

.ui-grid-menu {
  width: 250px;
  height: 200px;
}

.ui-grid-menu-button {
  width: 25px;
  height: 30px;
}

.ui-grid-header-cell {
  width: auto;
}

.ui-grid-pager-container {
  width: 550px;
}

.ui-grid-pager-row-count-picker {
  width: 200px;
}

.ui-grid-pager-panel {
  background-color: white;
}

.ui-grid-viewport {
  background-color: white;
  color: black;
}

/****handle a display of circler**********/
.circle {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-right: 0.5em;
}

.circleBorder {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 2px solid white;
  margin-right: 0.5em;
}

/****handle a display of datepicker**********/
.uib-datepicker-popup.dropdown-menu {
  width: 175px;
}

.datepicker.dropdown-menu {
  width: 250px;
  height: 250px;
}

.datepicker.dropdown-menu button {
  outline: none;
  border: 0px;
}

.datepicker.dropdown-menu tbody {
  height: 180px;
}

.datepicker.dropdown-menu tbody button {
  padding: 6px;
}

.datepicker.dropdown-menu.datepicker-mode-1 tbody button,
.datepicker.dropdown-menu.datepicker-mode-2 tbody button {
  height: 65px;
}

.datepicker.dropdown-menu button,
.timepicker.dropdown-menu button {
  outline: 0;
  border: 0;
}

/****handle a display of modal**********/

#dgw {
  @media (max-width: 376px) {
    height: 100%;
    width: 100%;
}
}

.center-modal {
  position: fixed;
  top: 10%;
  left: 18.5%;
  z-index: 1050;
  width: 80%;
  height: 80%;
  margin-left: -10%;
  
}

.modal-m {
  height: 16em;
  @media (max-width: 769px) {
    height: 25em;
  }
}

.modal-body--teamReduced {
  height: 16em;
  @media (max-width: 769px) {
    height: 25em;
}
}

.embed-responsive--teamReduced {
  height: 16em;
  @media (max-width: 769px) {
    height: 25em;
}
}

/****color of radius slider*******/
.ui-slider-horizontal .ui-slider-handle {
  background: #FFD700 !important;
}

/****color when mouse over the grid*******/
.ui-grid-row:hover .ui-grid-cell {
  background: #FCFC33;
}

/****color when select rows in the grid*******/
.ui-grid-row-selected.ui-grid-row:nth-child(odd) .ui-grid-cell,
.ui-grid-row-selected.ui-grid-row:nth-child(even) .ui-grid-cell {
  color: #fff;
  background-color: #80D0D0;
  /*#2CDBF6;*/
}

.ui-grid-row-selected.ui-grid-row:nth-child(odd) .ui-grid-cell.ui-grid-cell-focus,
.ui-grid-row-selected.ui-grid-row:nth-child(even) .ui-grid-cell.ui-grid-cell-focus {
  outline: 0;
  background-color: #80D0D0;
  /*#2CDBF6;*/
}

.ui-grid-row-selected.ui-grid-row:nth-child(odd):hover .ui-grid-cell,
.ui-grid-row-selected.ui-grid-row:nth-child(even):hover .ui-grid-cell {
  color: #fff;
  background-color: #80D0D0;
  /*#2CDBF6;*/
}

/****color of the link 4 Char Id *******/
#gridlink {
  color: #0088cc;
}

/****enable a pointer when passing over the link*******/
a:hover {
  cursor: pointer;
}

#popupcontainer {
  display: flex;
  justify-content: space-between;
}

.leaflet-div-icon .leaflet-editing-icon .my-own-class {
  background-color: #FF6F7D;
}

.figure-control {
  display: flex;
  flex-direction: column;
}


.ui-grid-row .ui-grid-cell.ui-grid-row-header-cell {
  background-color: white;
  border-bottom: solid 1px #d4d4d4;
}


.ui-grid-selection-row-header-buttons {
  cursor: pointer;
  opacity: 1;
}

.ui-grid-column-resizer {
  max-width: 5px;
}

.ui-grid-grid-footer {
  background-color: white;
}


#networkmapid {
  height: 700px;
  border: 1px black solid;
}

#zoomText {
  padding: 5px;
  color: #3b3b3b;
  font-size: 0.9em;
  margin-bottom: -2em;
  margin-right: 3.5em;
}

#zoomText:hover {
  opacity: 0.2;
}

#networkList{
  display: none;
  position: fixed;
  z-index: 1001;
  right : 0;
  bottom: 0;
  width: initial;
  min-width: 250px;
  background-color: #337ab7;
  color: white;
  font-weight: bold;
  padding: 20px 20px 10px 20px;
}

#networkList img{
  width: 15px;
  float: right;
  cursor: pointer;
}

#networkList a{
  color: white;
  text-decoration: none;
}

#networkList a:hover{
  color: lightgrey;
}



@media (max-width: 768px) {
  .btn {
    font-size: 11px;
    padding: 4px 6px;
  }

  #latlon {
    height: 425px;
    width: 100%;
    background-color: #AECADA;
    border: 1px black solid;
  }

  .advancedcontainer {
    height: 425px;
    width: 100%;
    border: 1px black solid;
    margin-top: 20px;
  }

  #mapid {
    margin-top: 20px;
  }

  #mapconteneur {
    display: flex;
    flex-wrap: wrap;
  }

  #networkmapid {
    height: 200px;
    border: 1px black solid;
    margin-bottom: 20px;
  }

  .modal .modal-dialog {
    width: 300px;
  }

  #main_grid {
    height: 300px;
  }

}

.gridfile {
  height: 700px;
  border: 1px black solid;
  width: 100%;
}

body>[uib-modal-window]:not([modal-render]) {
  display: none;
}