<div id="dropdownconteneur2">
        <div>
        	<button type="button" class="btn btn-primary" ng-click="addhistory()" title="This button allows to keep in cache history of yours requests"><span class="glyphicon glyphicon-plus" aria-hidden="true" id="addhistory"></span> Add to history </button>
	</div>&nbsp;
	<div class="dropdown">
             <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="download" title="This button allows to download the content of data in different format">
	            <span class="glyphicon glyphicon-download" aria-hidden="true"></span> Download <span class="caret"></span>
	     </button>
	     <ul class="dropdown-menu">
	         <!--li><a href="#">GeodesyML</a></li>
	         <li><a href="#">GeodesyML + files</a></li-->
		 <li><a ng-click="download('files-metadata.json','Json')">Json</a></li>
		 <!--li><a href="#">Json + files</a></li-->
	         <li role="separator" class="divider"></li>
	         <li><a ng-click="download('eposwget.sh','sh')">Wget Unix Script</a></li>
		 <li><a ng-click="download('eposfilelist.txt','txt')">File list</a></li>
		 <li><a ng-click="opennodownload()">Download selected</a></li>
		 <!--li><a ng-click="download_with_dm()">Download with DM</a></li-->
		 <!--li><a href="#">SINEX sites.info</a></li>
		 <li><a href="#">GAMIT station.info</a></li-->
		 <!--li><a ng-click="download('metadata.csv','CSV')">Site Info CSV</a></li-->
		 <!--li><a href="#">KML file</a></li-->
	     </ul>
    	</div>&nbsp;
	
        <div class="dropdown">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="exportquery" title="This button allows to get the query for command line">
	        <span class="glyphicon glyphicon-export" aria-hidden="true"></span> Export query <span class="caret"></span>
	    </button>
	    <ul class="dropdown-menu">
	         <!--li><a ng-click="exportquery('GeodesyML')">GeodesyML</a></li>
	         <li><a ng-click="exportquery('GeodesyML + files')">GeodesyML + files</a></li-->
                 <li><a ng-click="exportquery('Json')">Json</a></li>
                 <!--li><a ng-click="exportquery('Json + files')">Json + files</a></li>
	         <li role="separator" class="divider"></li>
	         <li><a ng-click="exportquery('File list')">File list</a></li>
                 <li><a ng-click="exportquery('SINEX')">SINEX sites.info</a></li>
                 <li><a ng-click="exportquery('GAMIT')">GAMIT station.info</a></li-->
                 <!--li><a ng-click="exportquery('CSV')">Site Info CSV</a></li-->
                 <!--li><a ng-click="exportquery('KML')">KML file</a></li-->
	    </ul>
	</div>&nbsp;
</div><br style="line-height:0px;">

<div ui-grid="gridOptions" ui-grid-selection ui-grid-exporter ui-grid-auto-resize ui-grid-resize-columns ui-grid-move-columns class="gridfile" id="main_grid"></div><br></br>
<iframe name="myFrame" style="width: 0; height: 0; border: 0; border: none; position: absolute;"></iframe>


<tour step="currentStep">
          <virtual-step tourtip="Step 1 : Select the files by clicking on the checkboxes" tourtip-step="0"
		    tourtip-next-label="Next"
		    tourtip-placement="top"
		    tourtip-container-element="body"
		    tourtip-element="#main_grid">
		  </virtual-step>
		  <virtual-step tourtip="Step 2 : Add the query on your history" tourtip-step="1" 
		    tourtip-next-label="Next"
		    tourtip-placement="left"
		    tourtip-margin="0"
		    tourtip-offset-vertical="-30"
		    tourtip-offset-horizontal="0"
		    tourtip-container-element="body" 
		    tourtip-element="#addhistory">
		  </virtual-step>
		  <virtual-step tourtip="Step 3 : Download the files with different option" tourtip-step="2" 
		    tourtip-next-label="Next"
		    tourtip-placement="left"
		    tourtip-margin="0"
		    tourtip-offset-vertical="-30"
		    tourtip-offset-horizontal="0"
		    tourtip-container-element="body" 
		    tourtip-element="#download">
		  </virtual-step>
		  <virtual-step tourtip="Step 4 : Export the query for the command line tool and API request format" tourtip-step="3" 
		    tourtip-next-label="Next"
		    tourtip-placement="left"
		    tourtip-margin="0"
		    tourtip-offset-vertical="-30"
		    tourtip-offset-horizontal="0"
		    tourtip-container-element="body" 
		    tourtip-element="#exportquery">
		  </virtual-step>
		  <a id="myselector" ng-click="openTour()" style="display:none;">Open Tour</a>
</tour>
