<div class="modal-body" style="padding:0px">
    <div class="alert alert-{{messageinfo.mode}}" style="margin-bottom:0px">
        <button type="button" class="close" data-ng-click="close()" >
            <span class="glyphicon glyphicon-remove-circle"></span>
        </button>
         <strong>{{messageinfo.textAlert}}</strong>
    </div>
</div>
