<div class="modal-header">
	<h3 class="modal-title">Request</h3>
</div>
<div class="modal-body">
	<div id="requestid" style="overflow:scroll;"><b>API request : </b>{{currentrequest}}<br></br><b>Command line request : </b>{{pyglassrequest}}</div>	
</div>
<div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="selectText('requestid')">Select & Copy</button>
	<button class="btn btn-primary" type="button" ng-click="cancel()">Cancel</button>
</div>

