<div class="modal-header">
    <h3 style="float: left; font-weight: bold; text-decoration: underline;">Direct Download Disabled</h3>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<div class="embed-responsive" style="overflow: hidden;height: 25em;">
        <p style="font-weight: bold; font-style: italic;"> Direct file download is disabled due to browser policy change. Downloading from ftp link is no longer supported.</p>
        <p style="padding-bottom: 2em;"> We are currently in active research to find and implement a solution</p>
        <p> In the meantime the following alternatives can be used :</p>
        <ol>
            <li> - The python command line client: <a href="https://gitlab.com/gpseurope/pyglass/-/releases" target="_blank">Click here (Documentation included)</a></li>
            <li> - A script to download the files with wget: <a ng-click="download('eposwget.sh','sh')">Click here</a></li>
            <li> - A list of the file URL to download the file with any software: <a ng-click="download('eposfilelist.txt','txt')">Click here</a></li>
        </ol>
	</div>
</div>