<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<div class="embed-responsive embed-responsive-16by9">
		<iframe src="../GLASS_Web_Client_Description_User_Guide.pdf" frameborder="0" allowfullscreen></iframe>
	</div>
</div>