<div class="modal-header">
	<h3 class="modal-title">History</h3>
</div>
<div class="modal-body">
        <div id="divid" style="overflow:scroll;">
		<div ng-repeat="item in historydata">{{item}}</div>
        </div>	
</div>
<div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="clearhistory()">Clear</button>
        <button class="btn btn-primary" type="button" ng-click="downloadText()">Save</button>
	<button class="btn btn-primary" type="button" ng-click="cancel()">Close</button>
</div>
