<div id="dropdownconteneur2">
	<div>
        	<button type="button" class="btn btn-primary" ng-click="addhistory()" title="This button allows to keep in cache history of yours requests"><span class="glyphicon glyphicon-plus" aria-hidden="true" id="addhistory"></span> Add to history </button>
	</div>&nbsp;
      
	<div class="dropdown">
             <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="download" title="This button allows to download the content of data in different format">
	            <span class="glyphicon glyphicon-download" aria-hidden="true"></span> Download <span class="caret"></span>
	     </button>
	     <ul class="dropdown-menu">
	         <!--li><a href="#">GeodesyML</a></li>
	         <li><a href="#">GeodesyML + files</a></li-->
		 <li><a ng-click="download('stations-metadata.json','Json')">Json</a></li>
		 <!--li><a href="#">Json + files</a></li>
	         <li role="separator" class="divider"></li>
	         <li><a href="#">File list</a></li>
		 <li><a href="#">SINEX sites.info</a></li>
		 <li><a href="#">GAMIT station.info</a></li-->
		 <!--li><a ng-click="download('metadata.csv','CSV')">Site Info CSV</a></li-->
		 <!--li><a href="#">KML file</a></li-->
	     </ul>
    	</div>&nbsp;
	
        <div class="dropdown">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="exportquery" title="This button allows to get the query for command line">
	        <span class="glyphicon glyphicon-export" aria-hidden="true"></span> Export query <span class="caret"></span>
	    </button>
	    <ul class="dropdown-menu">
	         <!--li><a ng-click="exportquery('GeodesyML')">GeodesyML</a></li>
	         <li><a ng-click="exportquery('GeodesyML + files')">GeodesyML + files</a></li-->
                 <li><a ng-click="exportquery('Json')">Json</a></li>
                 <!--li><a ng-click="exportquery('Json + files')">Json + files</a></li>
	         <li role="separator" class="divider"></li>
	         <li><a ng-click="exportquery('File list')">File list</a></li>
                 <li><a ng-click="exportquery('SINEX')">SINEX sites.info</a></li>
                 <li><a ng-click="exportquery('GAMIT')">GAMIT station.info</a></li-->
                 <!--li><a ng-click="exportquery('CSV')">Site Info CSV</a></li-->
                 <!--li><a ng-click="exportquery('KML')">KML file</a></li-->
	    </ul>
	</div>
</div><br style="line-height:0px;">
<!--div class="spinner" ng-show="loading"><img src ="images/ajax-loader.gif"/></div-->

<div ng-if="loading===false" class="row content">
	<div id="networkmapid"  class="col-sm-4"></div>

	<div id="networkdetailid" style="height: 700px;border:1px black solid;background-color:white;" class="col-sm-8">
		<div>
			<br style="line-height:2px;">
			<p><b><span style="color:red;font-size: 200%;">{{param_network_name}}</span></b></p>
			<br>
		</div>
		<div ui-grid="gridOptions" ui-grid-selection ui-grid-resize-columns ui-grid-move-columns class="grid" id="gridid" style="height:600px;width:100%;" ui-grid-auto-resize></div>
	</div>&nbsp;
	<tour step="currentStep">
		  <virtual-step tourtip="Step 1 : Select the stations on the map" tourtip-step="0"
		    tourtip-next-label="Next"
		    tourtip-placement="top"
		    tourtip-container-element="body"
		    tourtip-element="#networkmapid">
		  </virtual-step>
                  <virtual-step tourtip="Step 2 : Select the stations by clicking on the checkboxes" tourtip-step="1"
		    tourtip-next-label="Next"
		    tourtip-placement="top"
		    tourtip-container-element="body"
		    tourtip-element="#gridid">
		  </virtual-step>
		  <virtual-step tourtip="Step 3 : Add the query on your history" tourtip-step="2" 
		    tourtip-next-label="Next"
		    tourtip-placement="left"
		    tourtip-margin="0"
		    tourtip-offset-vertical="-30"
		    tourtip-offset-horizontal="0"
		    tourtip-container-element="body" 
		    tourtip-element="#addhistory">
		  </virtual-step>
		  <virtual-step tourtip="Step 4 : Download the stations metadata in different format" tourtip-step="3" 
		    tourtip-next-label="Next"
		    tourtip-placement="left"
		    tourtip-margin="0"
		    tourtip-offset-vertical="-30"
		    tourtip-offset-horizontal="0"
		    tourtip-container-element="body" 
		    tourtip-element="#download">
		  </virtual-step>
		  <virtual-step tourtip="Step 5 : Export the query for the command line tool and API request format" tourtip-step="4" 
		    tourtip-next-label="Next"
		    tourtip-placement="left"
		    tourtip-margin="0"
		    tourtip-offset-vertical="-30"
		    tourtip-offset-horizontal="0"
		    tourtip-container-element="body" 
		    tourtip-element="#exportquery">
		  </virtual-step>
		  <a id="myselector" ng-click="openTour()" style="display:none;">Open Tour</a>
	</tour>
  
</div>


