<div id="buttonconteneur">
	<div>
		<button type="button" class="btn btn-info" aria-label="view" ng-click="routeMetadataOrFiles('Metadata')"
			id="runsearch" title="This button allows to launch the search of metadata">
			<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Metadata Search
		</button>
	</div>&nbsp;
	<div>
		<button type="button" class="btn btn-success" aria-label="file search" ng-click="routeMetadataOrFiles('Files')"
			id="filesearch" title="This button allows to launch the search of files">
			<span class="glyphicon glyphicon-file" aria-hidden="true"></span> Files Search / Download
		</button>
	</div>&nbsp;
	<div><button type="button" class="btn btn-danger" aria-label="refresh" ng-click="clickClear()" id="clear"
			title="This button allows to clear all what you selected">
			<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Clear</button>
	</div>&nbsp;
	<div ng-switch on="selected" id="advancedsearch">
		<button type="button" class="btn btn-primary" aria-label="advanced" ng-switch-when='true' ng-click="advanced()"
			title="This button allows to show and hide more advanced parameters">Show advanced search</button>
		<button type="button" class="btn btn-info" aria-label="simple" ng-switch-when='false' ng-click="simple()"
			title="This button allows to show and hide more advanced parameters">Hide advanced search</button>
	</div>


</div>
<br style="line-height:0px;">

<div id="mapconteneur">
	<div id="latlon"><br style="line-height:0px;">
		<p style="text-align: center;color:white;">
			<font size="4">Spatial selection</font>
		</p>
		<p style="text-align: center;color:black;"><b>Rectangle</b></p>
		<p style="text-align: center;">Lat-Lon Bounding Box</p>
		<table style="margin: 0 auto;margin-bottom: 2px;">
			<tr>
				<td></td>
				<td><input type="text" size="8" ng-model="North" ng-Value="North" title="North"
						ng-change="changeRectangle()"></td>
				<td></td>
			</tr>
		</table>
		<table style="margin: 0 auto;border-collapse: separate;border-spacing: 5px 0;margin-bottom: 2px;">
			<tr>
				<td><input type="text" size="8" ng-model="West" ng-Value="West" title="West"
						ng-change="changeRectangle()"></td>
				<td></td>
				<td><input type="text" size="8" ng-model="East" ng-Value="East" title="East"
						ng-change="changeRectangle()"></td>
			</tr>
		</table>
		<table style="margin: 0 auto;">
			<tr>
				<td></td>
				<td><input type="text" size="8" ng-model="South" ng-Value="South" title="South"
						ng-change="changeRectangle()"></td>
				<td></td>
			</tr>
		</table>

		<hr style="width:80%">
		<p style="text-align: center;color:black;"><b>Circle</b></p>
		<table style="margin: 0 auto;border-collapse: separate;border-spacing: 5px 0;">
			<tr>
				<td>Latitude</td>
				<td>Longitude</td>
			</tr>
			<tr>
				<td><input type="text" size="8" ng-model="latitude" ng-Value="latitude" title="latitude"
						ng-change="changeRadiusCircle()"></td>
				<td><input type="text" size="8" ng-model="longitude" ng-Value="longitude" title="longitude"
						ng-change="changeRadiusCircle()"></td>
			</tr>
		</table>
		<table style="margin: 0 auto;">
			<tr>
				<td></td>
				<td>Radius (Km)</td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="text" size="8" ng-model="Radius"
						title="Radius of circle (km), if center is empty enter one" id="inputDistance"
						ng-change="changeRadiusCircle()"></td>
				<td></td>
			</tr>
		</table>

		<br style="line-height:2px;">
		<div>
			<div ui-slider min="0" max="1500" ng-model="Radius" style="width:60%;margin-left:auto;margin-right:auto;">
			</div>
		</div>
	</div>
	<div id="mapid" ng-click="clickMap()"></div>

	<div class="advancedcontainer" ng-if="simpleoradvanced==='advanced'">
		<div class="panel-group" ng-model="activePanel" role="tablist" aria-multiselectable="true" bs-collapse>
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" style="background-color: #375E97;color: white;"
					bs-collapse-toggle>Monumentation / Equipment</div>
				<div class="panel-collapse" role="tabpanel" bs-collapse-target>
					<div class="panel-body">
						<div id="fieldconteneur">
							<div>
								<p class="para">Receiver Type</p>

								<!--$parent : because a listbox inside an accordion put us in a sublevel of $scope -->
								<select multiple
									ng-options="item.name for item in receiver_types | unique:'name' | orderBy:'name'"
									ng-model="$parent.receivertypeselected" style=" width:160px;">
									<option></option>
								</select>
							</div>
							<div>
								<p class="para">Antenna Type</p>
								<select multiple
									ng-options="item.name for item in antenna_types | unique:'name' | orderBy:'name'"
									ng-model="$parent.antennatypeselected" style=" width:160px;">
									<option></option>
								</select>
							</div>
						</div><br style="line-height:50px;">
						<div id="fieldconteneur">
							<div>
								<p class="para">Radome Type</p>
								<select multiple
									ng-options="item.name for item in radome_types | unique:'name' | orderBy:'name'"
									ng-model="$parent.radometypeselected" style=" width:160px;">
									<option></option>
								</select>
							</div>
							<div>
								<p class="para">Satellite System</p>
								<select multiple ng-options=" item.name for item in satellitesystem"
									ng-model="$parent.satellitesystemselected" style=" width:160px;">
									<option></option>
								</select>
							</div>
						</div>

					</div>
				</div>
				<div class="panel-heading" role="tab" style="background-color: #258039;color: white;"
					bs-collapse-toggle>File Info</div>
				<div class="panel-collapse" role="tabpanel" bs-collapse-target>
					<div class="panel-body">
						<div id="fieldconteneur">
							<div>
								<p class="para">Date Range</p>
								<p style="float: left; margin-right: 12.5em;">from:</p>
								<p style="display: flex;">to:</p>
								<input type="text" class="datepicker" id="datepickerinstall" size="10"
									ng-model="$parent.filefromdateselected"
									ng-change="changedReferenceFromDate($parent.filefromdateselected)"
									title="e.g yyyy-mm-dd" data-date-format="yyyy-MM-dd" bs-datepicker
									style="margin-right: 50;">
								<span class="glyphicon glyphicon-calendar" aria-hidden="true"
									style="margin:0 5.5em 0 0"></span>
								<input type="text" class="datepicker" id="datepickerremove" size="10"
									ng-model="$parent.filetodateselected"
									ng-change="changedReferenceToDate($parent.filetodateselected)"
									data-date-format="yyyy-MM-dd" title="e.g yyyy-mm-dd" bs-datepicker>
								<span class="glyphicon glyphicon-calendar" aria-hidden="true"
									style="margin:0.1em"></span>
							</div>
						</div><br style="line-height:2px;">
						<div id="fieldconteneur">
							<div>
								<p class="para">Data Availability</p><input type="text" size="3"
									ng-model="$parent.dataavailabilityselected" title="percent"> %
							</div>
							<div>
								<p class="para">Daily observation > than</p><input type="text" size="3"
									ng-model="$parent.stationlifetimeselected" title="Daily observation superior than">
								years
							</div>
						</div><br style="line-height:2px;">
						<div id="fieldconteneur">
							<div>
								<p class="para">File Type</p>
								<select multiple ng-options=" item.name for item in filetype"
									ng-model="$parent.filetypeselected" style=" width:160px;">
									<option></option>
								</select>
							</div>
							<div>
								<p class="para">File Status</p>
								<select multiple ng-options=" item.name for item in statusfile" id="filestatus"
									ng-model="$parent.statusfileselected" style=" width:60px; margin-right: 6.5em;"
									ng-attr-title="{{statustitle}}">
									<option></option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="panel-heading" role="tab" style="background-color: #301B28;color: white;"
					bs-collapse-toggle>QC File Info </div>
				<div class="panel-collapse" role="tabpanel" bs-collapse-target>
					<div class="panel-body" style="overflow:auto;">
						<div id="fieldconteneur">
							<div>
								<p class="para">Observations Types</p>
								<select multiple ng-options=" item.name for item in typeofsignal"
									ng-model="$parent.typeofsignalselected" style=" width:160px;"
									title="code/phase/doppler/signal-to-noise">
									<option></option>
								</select>
							</div>
							<div>
								<p class="para">Frequencies Band</p>
								<select multiple ng-options=" item.name for item in frequencies"
									ng-model="$parent.frequencyselected" style=" width:160px;">
									<option></option>
								</select>
							</div>
						</div><br style="line-height:2px;">
						<div id="fieldconteneur">
							<div>
								<p class="para">Attribute Channel</p>
								<select multiple ng-options=" item.name for item in channel"
									ng-model="$parent.channelselected" style=" width:160px;">
									<option></option>
								</select>
							</div>
							<div>
								<p class="para">Satellite System</p>
								<select multiple ng-options=" item.name for item in satellitesystemt3"
									ng-model="$parent.satellitesystemt3selected" style=" width:160px;">
									<option></option>
								</select>
							</div>
						</div><br style="line-height:2px;">
						<div id="fieldconteneur">
							<div style="margin-right: 2.5em;">
								<p class="para">Epoch Completeness > than</p><input type="text" size="3"
									ng-model="$parent.epochselected"
									title="length of data window, # of data epochs,# of data gaps/small data pieces">
								%<br></br>
							</div>
							<div>
								<p class="para">Elevation Angle inferior than</p><input type="text" size="3"
									ng-model="$parent.elevangleselected" title="min/max elevation mask"> deg<br></br>
							</div>
						</div><br style="line-height:2px;">
						<div id="fieldconteneur">
							<div>
								<p class="para">Mean Multipath C1/P2(GPS)<br /> inferior than</p><input type="text"
									size="3" ng-model="$parent.multipathselected"
									title="e.g. min/max mean code multipath">
								cm<br></br>
							</div>
							<div style="margin-right: 6em;">
								<p class="para">#Cycle Slips</p><br /><input type="text" size="3"
									ng-model="$parent.cycleslipsselected"
									title="e.g. min/max number of cycle slips / interruptions">
							</div>
						</div><br style="line-height:2px;">
						<div id="fieldconteneur">
							<div>
								<p class="para">Single Point Positioning<br /> RMS(GPS) inferior than</p><input
									type="text" size="3" ng-model="$parent.ssprmsselected"
									title="e.g. min/max standard point positioning RMS"> meter<br></br>
							</div>
							<div style="margin-right: 5.8em;">
								<p class="para">#Clock Jump</p><br /><input type="text" size="3"
									ng-model="$parent.clockjumpselected" title="e.g. min/max number of clock jumps">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>&nbsp;

<div id="networkList">
	<img ng-click="closePopUp()" src="./images/close.png">
	<p>Station : <span id="networkListMarker"></span></p>
	<p>Network(s) : <span id="networkListValues"></span></p>
</div>

<div ui-grid="gridOptions" ui-grid-selection ui-grid-exporter ui-grid-auto-resize ui-grid-resize-columns
	ui-grid-move-columns class="grid" id="main_grid"></div><br></br>

<tour step="currentStep">
	<virtual-step tourtip="Step 1 : Select the stations on the map by clicking" tourtip-step="0"
		tourtip-next-label="Next" tourtip-placement="center" tourtip-container-element="body" tourtip-element="#mapid">
	</virtual-step>
	<virtual-step tourtip="Step 2 : Select the stations in area (polygon, rectangle and circle)" tourtip-step="1"
		tourtip-next-label="Next" tourtip-placement="right" tourtip-container-element="body"
		tourtip-element=".figure-control #rectangle">
	</virtual-step>
	<virtual-step tourtip="Step 3 : Select the stations by coordinates" tourtip-step="2" tourtip-next-label="Next"
		tourtip-placement="top" tourtip-container-element="body" tourtip-element="#latlon">
	</virtual-step>
	<virtual-step tourtip="Step 4 : Filter the stations by criteria" tourtip-step="3" tourtip-next-label="Next"
		tourtip-placement="top" tourtip-container-element="body" tourtip-element="#main_grid">
	</virtual-step>
	<virtual-step tourtip="Step 5 : Display advanced search panel" tourtip-step="4" tourtip-next-label="Next"
		tourtip-placement="left" tourtip-margin="0" tourtip-offset-vertical="-30" tourtip-offset-horizontal="0"
		on-show="advanced()" tourtip-container-element="body" tourtip-element="#advancedsearch">
	</virtual-step>
	<virtual-step tourtip="Step 6 : Run the query for station metadata" tourtip-step="5" tourtip-next-label="Next"
		tourtip-placement="left" tourtip-margin="0" tourtip-offset-vertical="-30" tourtip-offset-horizontal="0"
		tourtip-container-element="body" tourtip-element="#runsearch">
	</virtual-step>
	<virtual-step tourtip="Step 7 : Run the query for files" tourtip-step="6" tourtip-next-label="Next"
		tourtip-placement="left" tourtip-margin="0" tourtip-offset-vertical="-30" tourtip-offset-horizontal="0"
		tourtip-container-element="body" tourtip-element="#filesearch">
	</virtual-step>
	<virtual-step tourtip="Step 8 : Clear the selection and filter" tourtip-step="7" tourtip-next-label="Next"
		tourtip-placement="left" tourtip-margin="0" tourtip-offset-vertical="-30" tourtip-offset-horizontal="0"
		tourtip-container-element="body" tourtip-element="#clear">
	</virtual-step>
	<a id="myselector" ng-click="openTour()" style="display:none;">Open Tour</a>
</tour>