<!doctype html>
<html class="no-js">

<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
</head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<!--script async src="https://www.googletagmanager.com/gtag/js?id=G-X3D0JN3QTS" id="googleAnalytics"></script-->
<script id="googleAnalytics">
	window.dataLayer = window.dataLayer || [];

	function gtag() {
		dataLayer.push(arguments);
	}
	gtag('js', new Date());
</script>

<body ng-app="glasswebuiApp">
	<!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

	<!-- Add your site or application content here -->
	<div id="bloc_page" style="background-image: url(images/bg-m3.jpg);">
		<!-- 
	HEADER
	-->
		<header>
			<div id="bandeau">
				<div class="logo">
					<a href="#" target="_blank">
						<img id="titlelogo" src="images/eposlogo.png" alt="Logo" />
					</a>
				</div>
				<div>
					<!--Menu history and help are list to follow bootstrap rules-->
					<ul class="nav nav-pills">
						<li> <a href="" ng-click="commandLineClient()">Command Line Client</a> </li>
						<li><a href="" ng-click="routeHistory()"> History </a></li>
						<li role="presentation" class="dropdown" id="helpid">
							<a class="dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true"
								aria-expanded="false"> Documentation <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="" ng-click="tour()">Tour of the Interface</a></li>
								<li><a href="#/help" target="_blank">User Guides (Videos and Documents) </a></li>
								<!-- <li><a href="#/nodeInfo" target="_blank">EPOS GNSS Node Infrastructure</a></li>
								<li><a href="./doc/Quality Assurance Data Gateway.pdf">Quality Assurance</a></li> -->
							</ul>
						</li>
						<li class="productsid">
							<a href="https://gnssproducts.epos.ubi.pt" target="_blank"><span
									class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Products
								portal</a>
						</li>
						<li class="productsid popup_hover">
							<a href="https://gnss-metadata.eu/" target="_blank"><span
									class="glyphicon glyphicon-new-window" aria-hidden="true"></span> M3G </a>
							<span class="popuptext">Station Metadata Submission Center</span>
						</li>
						<li class="productsid popup_hover" style="background-color: white;">
							<a href="https://www.ics-c.epos-eu.org/" target="_blank"><img style="height: 17px;"
									src="https://gnss-metadata.eu/pic/logo_EPOS_ICS.png"></a>
							<span class="popuptext">EPOS Integrated Core Service</span>
						</li>
					</ul>
				</div>
			</div>
		</header><br style="line-height:0px;">
		<!--
	BODY TEMPLATE (container for the views)
	-->
		<section>
			<div class="container">
				<div ng-view=""></div>
			</div>
		</section>
		<!--
	FOOTER
	-->
		<div class="footer">
			<div class="column">
				<div id="portals">
					<h4>EPOS-GNSS Node Infrastructure</h4>
					<div>
						<a href="#/nodeInfo" target="_blank"><span class="glyphicon glyphicon-new-window"
								aria-hidden="true"></span> EPOS GNSS nodes
						</a>
					</div>
					<div>
						<a href="#/nodeInfo#BecomeNode" target="_blank"><span class="glyphicon glyphicon-new-window"
								aria-hidden="true"></span> How to become a node ?
						</a>
					</div>
					<h4>Other EPOS-GNSS portals</h4>
					<div>
						<a href="https://gnss-epos.eu/" target="_blank"><span class="glyphicon glyphicon-new-window"
								aria-hidden="true"></span> GNSS EPOS
						</a>
					</div>
					<div>
						<a href="https://gnss-metadata.eu/site/ocoverview" target="_blank"><span
								class="glyphicon glyphicon-new-window" aria-hidden="true"></span> EPOS Data Providers
						</a>
					</div>
				</div>

				<div id="footerLogo">
					<h4>Funded By</h4>
					<a href="https://www.oca.eu/fr/" target="_blank"> <img alt="" height="50" src="images/oca.png"> </a>
					<a href="https://ec.europa.eu/" target="_blank"> <img alt="" src="images/eu_flag.jpg"> </a>
					<a href="https://www.epos-eu.org/" target="_blank"> <img alt=""
							src="images/EPOS_logo_small_591_0.jpg"> </a>
					<img alt="" src="images/equipex-small.max-100x100.jpg">
					<a href="https://www.resif.fr/" target="_blank"> <img alt="" src="images/Resif_logo_RVB.jpg"> </a>
					<p style="text-align: justify;">This project has received funding from the European Union’s Horizon
						2020 research and innovation programm under grant agreement N° 676564 and French RESIF-CORE
						Equipex project through the Investments for the Future Programme of French National Agency for
						Research.&nbsp;</p>
				</div>

				<div id="about">
					<h4>About Us</h4>
					<p class="padding-top-20px rteright" style="margin: 0 10px;"><a id="mail" ng-click="getMail()" href="">CONTACT US</a></p>
					<p id="version">Web Client version : {{version}}</p>
				</div>
			</div>
		</div>
	</div>

	<!-- Default function to keep-->
	<script type="text/ng-template" id="group-template.html">
		<div class="panel {{panelClass || 'panel-default'}}">
		<div class="panel-heading">
		<h4 class="panel-title" style="color:#fa39c3">
		  <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
		    <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
		      {{heading}}
		    </span>
		  </a>
		</h4>
		</div>
		<div class="panel-collapse collapse" uib-collapse="!isOpen">
		<div class="panel-body" style="text-align: right" ng-transclude></div>
		</div>
		</div>
	</script>

	<div id="cookie_directive_container" class="container" style="display: none">
		<nav class="navbar navbar-default navbar-fixed-bottom">
			<div class="container">
				<div class="navbar-inner navbar-content-center" id="cookie_accept">
					<button class="btn btn-default pull-right">Close</button>
					<p class="text-muted credit">
						By using our website you are consenting to our use of cookies in accordance with GDPR compliance
						<a href="https://eur-lex.europa.eu/legal-content/EN/TXT/PDF/?uri=CELEX:32016R0679"
							target="_blank">cookies policy</a>.
					</p>
					<br>
				</div>
			</div>
		</nav>
	</div>
</body>

</html>